* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #303841;
  --dark: #3A4750;
  --teal: #00ADB5;
  --white: #EEEEEE;
}

.banner {
  background-image: url("./assets/img/official_banner.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: 70%;
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
}

.card-header {
  box-sizing: border-box;
  border: 1px solid red;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
  width: 50%;
  height: 100%%;
}

.card-container {
  padding: 2px 16px;
}